.callback-form
	form
		h2.callback-form-title Остались вопросы?
		p.callback-form-info Мы с удовольствием проконсультируем вас персонально по телефону или через электронную почту
		.row.justify-content-center
			.col-lg-6.col-md-8
				.form-group
					input.form-control(type='text', placeholder='Имя')
				.form-group
					input.form-control(type='email', placeholder='E-mail')
				.form-group
					input.form-control(type='tel', placeholder='Телефон')
				.form-group
					input.form-control(type='text', placeholder='Комментарий')
		.form-group
			.form-note
				| Отправляя свои данные через эту форму, вы соглашаетесь с 
				a(href='/') политикой обработки персональных данных
		.form-group
			.form-submit
				input.btn-secondary.btn-wide.btn(type='submit', value='Свяжитесь со мной')
