.callback-form
	form
		h2.callback-form-title Остались вопросы?
		p.callback-form-info Мы с удовольствием проконсультируем вас персонально по телефону или через электронную почту
		.row.justify-content-center
			.col-lg-7.col-md-9
				.form-input-with-button.form-group
					input.form-control(type='text', placeholder='E-mail или телефон')
					input.btn-secondary.btn(type='submit', value='Свяжитесь со мной')
		.form-group
			.form-note
				| Отправляя свои данные через эту форму, вы соглашаетесь с 
				a(href='/') политикой обработки персональных данных