mixin knowledge-form(object)
	.widget._nomargin._gray
		.container-inner.container
			.row
				.col-md-3
					h1.knowledge-title= object.title
				.col-md-9
					form
						.form-input-with-button
							input.form-control(type='text', placeholder=object.placeholder)
							input.btn-secondary.btn-wide.btn(type='submit', value='Искать')