include _promo-mixin.pug
include _list-ico-mixin.pug
include _solution-mixin.pug
include _breadcrumbs-mixin.pug
include _product-item-mixin.pug
include _knowledge-form-mixin.pug
include _services-table-mixin.pug