mixin promo(object)
	.promo
		.container
			.promo-container(style='background-image:url(t/'+ object.bg +')')
				+breadcrumbs({'type': 'promo', 'items': object.breadcrumbs})

				.promo-content
					if object.title
						h1.promo-title!= object.title

					if object.text
						.promo-text
							p!= object.text

					if object.button
						.promo-more
							span.btn-primary.btn= object.button
