script(src='js/jquery-1.12.4.min.js')
script(src='js/bootstrap/util.js')
script(src='js/bootstrap/collapse.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.fancybox.min.js')
script(src='js/site.js')

block scripts