.breadcrumbs {
	margin: 2em 0;
	font: {
		size: .75rem;
		weight: $font-weight-bold;
	}
	text-transform: uppercase;
	color: $gray-500;

	.delimiter {
		margin: 0 .9em 0 .7em;
		font-size: 90%;
		vertical-align: top;
	}

	a {
		color: inherit;
	}
}