.callback {
	&-form {
		text-align: center;

		&-title {
			margin-bottom: .1em;
			font: {
				family: $font-sub;
				size: 2.75rem;
				weight: $font-weight-extra-bold;
			}
			text-transform: uppercase;
			color: inherit;
			text-align: center;
		}

		&-info {
			margin-bottom: 1em;
			font: {
				family: $font-sub;
				size: 1.625rem;
				weight: $font-weight-light;
			}
		}

		&-control-group {
			max-width: 570px;
			margin: {
				left: auto;
				right: auto;
			}
		}
	}
}