.ico {
	display: inline-block;
	vertical-align: middle;

	&:first-child:not(div):not(:last-child) {
		margin-right: .5em;
	}

	&::before {
		display: inline-block;
		vertical-align: top;
		content: '';
		background: {
			repeat: no-repeat;
			position: 50% 50%;
			size: contain;
		}
	}


	//
	// Icons with red hover
	//

	&-primary {
		&,
		& * {
			@include transition;
		}

		&._white {
			fill: $white;
		}

		*:hover > &,
		*:hover > & * {
			fill: $red;
		}
	}


	//
	// Top icons
	//

	&[class*='_top-'] {
		&::before {
			$size: 30px;

			width: $size;
			height: $size;
		}
	}

	@each $ico in $top-icons {
		&._top-#{$ico} {
			&::before {
				background-image: url('#{$img-dir}top-#{$ico}.svg');
			}
		}
	}


	//
	// List icons
	//

	&[class*='_list-'] {
		&::after {
			$size: 70px;

			@include flex-width($size);

			height: $size;
			background: {
				repeat: no-repeat;
				position: 50% 50%;
				size: contain;
			}
		}
	}

	@each $ico in $list-icons {
		&._list-#{$ico} {
			&::after {
				background-image: url('#{$img-dir}list-#{$ico}.svg');
			}
		}
	}


	//
	// Links icons
	//

	&[class*='_link'] {
		$size: $grid-gutter-width * 1.5;

		width: $size;
		height: $size;

		&:first-child {
			margin-right: 1em;
		}
	}


	//
	// Social links
	//

	&._social {
		$size: $grid-gutter-width * 2;

		width: $size * .6;
		height: $size * .6;

		&-item {
			width: $size;
			height: $size;
			border-radius: 50%;
			background-color: $gray-200;

			&:not(:last-child),
			&:first-child {
				margin-right: 1em;
			}
		}
	}


	//
	// Other icons
	//

	&._search {
		$size: 15px;

		width: $size;
		height: $size;
	}

	&._cart-mini,
	&._video-title {
		&::before {
			$size: 20px;

			width: $size;
			height: $size;
		}
	}

	&._cart-mini::before {
		background-image: url('#{$img-dir}cart.svg');
	}

	&._video-title::before {
		margin: {
			top: .1em;
			right: .5em;
		}
		background-image: url('#{$img-dir}video.svg');
	}

	&._back::before {
		$size: 20px;

		width: $size;
		height: $size;
		margin: {
			top: .2em;
			right: .5em;
		}
		background-image: url('#{$img-dir}chevron-left.svg');
	}
}