.knowledge {
	&-title {
		margin-bottom: 0;
		font: {
			family: $font-sub;
			size: 2.125rem;
			weight: $font-weight-extra-bold;
		}
		color: $primary;
	}

	&-video {
		&-item {
			margin-bottom: $grid-gutter-width;

			&-thumb {
				img {
					border: 5px solid $white;
					box-shadow: 0 5px 5px 0 rgba($black, .07);
				}
			}

			&-title {
				display: block;
				line-height: 1.3;
			}
		}
	}
}