.promo {
	&-container {
		min-height: 710px;
		padding: 1px $grid-gutter-width $grid-gutter-width * .8;
		background: {
			repeat: no-repeat;
			position: 50% 50%;
			size: cover;
		}
	}

	&-breadcrumbs {
		color: $white;
	}

	&-content {
		max-width: 448px;
		padding: $grid-gutter-width * 2;
		background-color: $white;
	}

	&-title {
		margin-bottom: .5em;
		font: {
			family: $font-sub;
			size: 3.125rem;
			weight: $font-weight-extra-bold;
		}
		line-height: 1.1;
		text-transform: uppercase;
	}

	&-text {
		font-size: 1.125rem;
	}

	&-more {
		margin-top: 2em;
	}
}