.widget {
	$margin-y: 3em;

	margin-top: $margin-y;
	background: {
		repeat: no-repeat;
		position: 50% 50%;
		size: cover;
	}

	&:not(._nomargin):not(._dark) {
		margin-bottom: $margin-y;
	}

	&._nomargin {
		margin: 0;
	}

	&._gray,
	&._light-gray {
		padding: $margin-y * .5 0;
	}

	&._with-pads {
		padding: $margin-y * 2 0;
	}

	&._dark,
	&._night {
		.widget-title {
			margin-bottom: 1em;
			color: inherit;
		}
	}

	&._dark {
		color: $white;
		background-color: $gray-900;
	}

	&._night {
		color: $sky;
		background-color: $sky;

		&,
		.widget-title {
			position: relative;
		}

		&::before {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			height: 350px;
			content: '';
			background-color: $navy;
		}
	}

	&._gray {
		background-color: $gray-200;
	}

	&._light-gray {
		background-color: $gray-100;
	}

	&._important {
		background: $primary;
	}

	&-title {
		&:last-child {
			margin-bottom: 0;
		}

		&._primary {
			color: $primary;
		}

		&._big {
			font: {
				family: $font-sub;
				size: 2.75rem;
			}
			text: {
				align: center;
				transform: uppercase;
			}
		}

		&._sub {
			font-size: 1.375rem;
		}

		&._important {
			padding-bottom: 1em;
			border-bottom: 2px solid $gray-200;
		}
	}

	&-subtitle {
		margin: -1em 0 2em;
		font: {
			family: $font-sub;
			size: 1.625rem;
			weight: $font-weight-light;
		}
	}
}