.widget {
	$margin-y: 5em;

	margin-top: $margin-y;
	background: {
		repeat: no-repeat;
		position: 50% 50%;
		size: cover;
	}

	&:not(._nomargin):not(._dark) {
		margin-bottom: $margin-y;
	}

	&._nomargin {
		margin: 0;
	}

	&._dark {
		padding: 5em 0;
		color: $white;
		background-color: $gray-900;

		.widget-title {
			margin-bottom: 1.5em;
			color: inherit;
		}
	}

	&._gray {
		padding: 2.5em 0;
		background-color: $gray-200;
	}

	&._important {
		background: $primary;
	}

	&-title {
		&._big {
			font: {
				family: $font-sub;
				size: 2.75rem;
			}
			color: $primary;
			text: {
				align: center;
				transform: uppercase;
			}
		}

		&._sub {
			font-size: 1.375rem;
		}

		&._important {
			padding-bottom: 1em;
			border-bottom: 2px solid $gray-200;
		}
	}
}