.widget {
	margin: 4em 0;
	background: {
		repeat: no-repeat;
		position: 50% 50%;
		size: cover;
	}

	&._dark {
		padding: 5em 0;
		color: $white;
		background-color: $gray-900;

		.widget-title {
			margin-bottom: 1.5em;
			color: inherit;
		}
	}
}