extends ./layout/layout.pug

block meta
	title Сопутствующий сервис

block content
	+promo({ bg: '55.jpg', title: 'Сопутствующий сервис', text: 'Вам нужна помощь грамотного IT-специалиста? Нужно проложить  и настроить сеть или WiFi? Установить видеонаблюдение? Оставьте заявку и получите бесплатную консультацию!', button: 'Оставить заявку' })

	.container-inner.container
		.widget
			.row
				.col-md-6
					h2.widget-title Типовые работы по ремонту и настройке компьютеров
					+services-table({'checkboxes': false, 'tfoot': false}, [{'type': 'Диагностика ПК', 'price': 'бесплатно'}, {'type': 'Установка/переустановка Windows + установка драйверов (Установка антивируса в подарок)', 'price': '3500 руб.'}, {'type': 'Установка MS Office', 'price': '1000 руб.'}, {'type': 'Установка 1С', 'price': '3500&nbsp;руб.'}, {'type': 'Установка любых других программ', 'price': 'от&nbsp;200&nbsp;руб.'}, {'type': 'Замена, апгрейд комплектующих', 'price': 'от&nbsp;500&nbsp;руб.'}, {'type': 'Подключение переферийного оборудования ', 'price': 'от&nbsp;500&nbsp;руб.'}])
				.col-md-6
					h2.widget-title Установка и настройка сетевого оборудования
					+services-table({'checkboxes': false, 'tfoot': false}, [{'type': 'Настройка роутера, wi-fi маршрутизатора', 'price': '1500 руб.'}, {'type': 'Настройка роутера Microtik, установка точки доступа', 'price': 'от 2000 руб.'}, {'type': 'Установка свитча', 'price': '500 руб.'}])
				.col-md-6
					h2.widget-title Монтаж слаботочных систем
					+services-table({'checkboxes': false, 'tfoot': false}, [{'type': 'Выезд сметчика', 'price': 'бесплатно'}, {'type': 'Протяжка скс кабеля, монтаж коробов', 'price': 'от 80 руб./м'}, {'type': 'Обжим коннектора RJ-45', 'price': '100 руб./шт.'}, {'type': 'Подключение розетки', 'price': '200 руб./шт.'}, {'type': 'Монтаж и сборка телекоммуникационного шкафа', 'price': '2500 руб.'}, {'type': 'Подключение к патч панели', 'price': '100 руб./шт.'}])
				.col-md-6
					h2.widget-title Монтаж систем видеонаблюдения
					+services-table({'checkboxes': false, 'tfoot': false}, [{'type': 'Выезд сметчика', 'price': 'бесплатно'}, {'type': 'Установка, настройка IP - камеры в помещении', 'price': '2000 руб.'}, {'type': 'Установка, настройка IP - камеры на улице', 'price': '2500 руб.'}, {'type': 'Настройка и запуск в эксплуатацию видеорегистратора', 'price': '3000 руб.'}])

	.widget._dark._important
		.container-inner.container
			include ./blocks/main/_callback-form.pug