extends ./layout/layout.pug

block meta
	title Сопутствующий сервис

block content
	+promo({ bg: '55.jpg', title: 'Сопутствующий сервис', text: 'Вам нужна помощь грамотного IT-специалиста? Нужно проложить  и настроить сеть или WiFi? Установить видеонаблюдение? Оставьте заявку и получите бесплатную консультацию!', button: 'Оставить заявку' })

	.container-inner.container
		.row
			.widget
				.col-md-6
				h2.widget-title Разовые услуги по ККТ

				+services-table([{'type': 'Регистрация ККТ в налоговой', 'price': '2500 руб.'}, {'type': 'Годовое подключение к ОФД', 'price': '3000 руб.'}, {'type': 'Изготовление ЭЦП (электронно-цифровой подписи)', 'price': '3000 руб.'}, {'type': 'Перерегистрация ККТ без замены ФН', 'price': '2000 руб.'}, {'type': 'Перерегистрация ККТ с заменой ФН', 'price': '3500 руб.'}, {'type': 'Снятие с учета ККТ', 'price': '1500 руб.'}, {'type': 'Программирование/настройка ККТ', 'price': 'от 1000 руб.'}, {'type': 'Замена ФН', 'price': '3500 руб.'}, {'type': 'Ремонт/замена комплектующих', 'price': 'от 2000 руб. + стоимость детали'}])

	.widget._dark._important
		.container-inner.container
			.callback-form
				form
					h2.callback-form-title Остались вопросы?
					p.callback-form-info Мы с удовольствием проконсультируем вас персонально по телефону или через электронную почту
					.callback-form-control-group.form-group
						input.form-control(type='text', placeholder='Имя')
					.callback-form-control-group.form-group
						input.form-control(type='email', placeholder='E-mail')
					.callback-form-control-group.form-group
						input.form-control(type='tel', placeholder='Телефон')
					.callback-form-control-group.form-group
						input.form-control(type='text', placeholder='Комментарий')
					.form-group
						.form-note
							| Отправляя свои данные через эту форму, вы соглашаетесь с 
							a(href='/') политикой обработки персональных данных
					.form-group
						.form-submit
							input.btn-secondary.btn(type='submit', value='Свяжитесь со мной')
