extends ./layout/layout.pug

block meta
	title Главная

block content
	+promo({ bg: '48.jpg', title: 'Самая быстрая и&nbsp;понимающая поддержка', text: 'Мы действительно быстро и грамотно решаем все вопросы с системой в кратчайшие сроки, если вам не понравится - мы вернем вам деньги! Также мы дарим.', button: 'Оставить заявку' })