extends ./layout/layout.pug

block meta
	title Онлайн кассы ККТ

block content
	+promo({ bg: '54.jpg', title: 'Онлайн кассы ККТ (ЦТО)', text: 'Необходима помощь c онлайн кассой? Мы поможем решить абсолютно любые вопросы быстро и с гарантией', button: 'Оставить заявку' })

	.container-inner.container
		.widget
			h2.widget-title._important Что мы предлагаем?
			p Наша компания предлагает различные разовые услуги, а также вы можете заключить с нами договор сервисного обслуживания ККТ. Наши специалисты будут рады оперативно помочь в решении любых вопросов, связанных с использованием контрольно-кассовой техники.

		.widget
			h2.widget-title Разовые услуги по ККТ

			+services-table([{'type': 'Регистрация ККТ в налоговой', 'price': '2500 руб.'}, {'type': 'Годовое подключение к ОФД', 'price': '3000 руб.'}, {'type': 'Изготовление ЭЦП (электронно-цифровой подписи)', 'price': '3000 руб.'}, {'type': 'Перерегистрация ККТ без замены ФН', 'price': '2000 руб.'}, {'type': 'Перерегистрация ККТ с заменой ФН', 'price': '3500 руб.'}, {'type': 'Снятие с учета ККТ', 'price': '1500 руб.'}, {'type': 'Программирование/настройка ККТ', 'price': 'от 1000 руб.'}, {'type': 'Замена ФН', 'price': '3500 руб.'}, {'type': 'Ремонт/замена комплектующих', 'price': 'от 2000 руб. + стоимость детали'}])

		.widget
			h2.widget-title._important Заключите договор сервисного обслуживания
			p Всем уже давно не секрет, что в ходе работы любого кассового аппарата, могут возникнуть множество проблем, которые могут навредить вашему бизнесу из-за различных сбоев и поломок. Без рабочей кассы, согласно законодательству предприятие не может осуществлять свою деятельность. В случае выхода из строя, время простоя приравнивается к убыткам для бизнеса. Весьма часто даже случается так, что за время простоя предприятие потеряет больше, чем сэкономит на услугах технического обслуживания сервисного центра.

		.widget
			h2.widget-title Что входит в обслуживание онлайн касс 24/7?
			+list-ico([{'type': 'work', 'title': 'Инструктаж и консультации по эксплуатации кассового оборудования'}, {'type': 'chat', 'title': 'Круглосуточная поддержка 24/7', 'text': 'Круглосуточно и без выходных мы готовы оперативно помогать нашим клиентам, достаточно только позвонить или написать нам сообщение по разным'}, {'type': 'ofd', 'title': 'Поддержка отправки данных в ОФД, решение сбоев передачи фискальной информации'}, {'type': 'truck', 'title': 'Оперативный выезд инженера для исправления технических неисправностей, а также бесплатный ремонт ККТ'}, {'type': 'pc', 'title': 'Программирование/настройка ККТ'}, {'type': 'fn', 'title': 'Своевременная замена фискального накопителя и продление ОФД'}, {'type': 'int', 'title': 'Установка важных обновлений прошивок ККТ'}, {'type': 'ribbon', 'title': 'Гарантия и отличный сервис'}])

		.widget
			h2.widget-title Калькулятор стоимости абонентского обслуживания

			.calc
				.calc-form(style='background-image:url(t/50.jpg)')
					form
						.calc-form-item
							.row
								.col-md-6
									.form-check.form-group
										label.form-check-label
											input.form-check-input(type='checkbox', value='')
											|  Выезды не требуются, нужна только удаленная поддержка
								.col-md-6
									.row
										.col-md-6
											.form-group
												label(for='input-1') Количество ПК
												input.calc-form-qty-control.form-control#input-1(type='number', value='2')
										.col-md-6
											.form-group
												label Стоимость услуги
												.calc-form-total
													span.calc-form-total-v 750
													|  руб./мес.
						.calc-form-item
							.row
								.col-md-6
									.calc-form-info 10% скидка &mdash; при оплате за 6 месяцев
								.col-md-6
									.calc-form-info 15% скидка &mdash; при оплате за 1 год
						.calc-form-submit.form-submit
							input.btn-primary.btn(type='submit', value='Оставить заявку')
				.calc-info
					| Если у вас присутствуют онлайн кассы, мы можем комплексно взять их также на обслуживание
					a(href='/')  подробнее по ссылке

	.widget._dark._important
		.container-inner.container
			.callback-form
				form
					h2.callback-form-title Остались вопросы?
					p.callback-form-info Мы с удовольствием проконсультируем вас персонально по телефону или через электронную почту
					.callback-form-control-group.form-group
						input.form-control(type='text', placeholder='Имя')
					.callback-form-control-group.form-group
						input.form-control(type='email', placeholder='E-mail')
					.callback-form-control-group.form-group
						input.form-control(type='tel', placeholder='Телефон')
					.callback-form-control-group.form-group
						input.form-control(type='text', placeholder='Комментарий')
					.form-group
						.form-note
							| Отправляя свои данные через эту форму, вы соглашаетесь с 
							a(href='/') политикой обработки персональных данных
					.form-group
						.form-submit
							input.btn-secondary.btn(type='submit', value='Свяжитесь со мной')
