extends ./layout/layout.pug

block meta
	title Автоматизация ресторана

block content
	+promo({ bg: '56.jpg', title: 'Автоматизация ресторана', text: 'Сочетание «автоматизация ресторанов» сформировалось в устойчивый термин в среде русскоязычных рестораторов, поставщиков оборудования и ПО. В нём имеются сразу и обобщение, и наоборот узкая трактовка смысла составляющих слов.', button: 'Оформить' })

	.container-inner.container
		.widget
			h2.widget-title._big Готовые решения
			.solutions
			- var solutionList = [ {'type': 'smoothie', 'title': 'Начинающий ресторатор', 'price1': {'l': '+ аренда лицензий', 'v': '80 000₽'}, 'price2': {'l': 'При выкупе лицензий (life-time)', 'v': '165 000₽'}, 'descr': 'Стартап для небольшого заведения с&nbsp;низкой или средней проходимостью', 'equip': '<b>Оборудование:</b><ol><li>Планшет RS POS диагональ 11.6</li><li>Фискальный регистратор АТОЛ 20ф с ФН</li><li>Денежный ящик автоматический</li><li>Сервис принтер на кухню</li></ol>', 'serv': '<b>Услуги:</b><ol><li>Установка и запуск в эксплуатацию</li><li>Постановка кассы на учет</li><li>ОФД</li><li>Курс обучения персонала 6 часов</li><li>2 месяца бесплатного обслуживания</li></ol>'}, {'type': 'cashier', 'title': 'Стандарт 1&nbsp;терминал', 'price1': {'l': 'С лицензиями в аренду', 'v': '80 000₽'}, 'price2': {'l': 'При выкупе лицензий (life-time)', 'v': '165 000₽'}, 'descr': 'Стандартный проект для небольшого заведения со средней проходимостью', 'equip': '<b>Оборудование:</b><ol><li>POS терминал POSBANK Apexa G 15 дюймов</li><li>Фискальный регистратор АТОЛ 20ф с ФН</li><li>Денежный ящик автоматический</li><li>Сервис принтер на кухню + бар</li></ol>', 'serv': '<b>Услуги:</b><ol><li>Установка и запуск в эксплуатацию</li><li>Постановка кассы на учет</li><li>ОФД</li><li>Курс обучения персонала 6 часов</li><li>2 месяца бесплатного обслуживания</li></ol>'}, {'type': 'restaurant', 'title': 'Стандарт 2&nbsp;терминала', 'price1': {'l': 'С лицензиями в аренду', 'v': '80 000₽'}, 'price2': {'l': 'При выкупе лицензий (life-time)', 'v': '165 000₽'}, 'descr': 'Стандартный проект для небольшого заведения со средней и высокой проходимостью', 'equip': '<b>Оборудование:</b><ol><li>POS терминал POSBANK Apexa G 15 дюймов</li><li>Фискальный регистратор АТОЛ 20ф с ФН</li><li>Денежный ящик автоматический</li><li>Сервис принтер на кухню + бар</li></ol>', 'serv': '<b>Услуги:</b><ol><li>Установка и запуск в эксплуатацию</li><li>Постановка кассы на учет</li><li>ОФД</li><li>Курс обучения персонала 6 часов</li><li>2 месяца бесплатного обслуживания</li></ol>'} ];
			each solutionItem in solutionList
				+solution(solutionItem)

		.widget
			h2.widget-title._big Процесс установки
			.procs
				.procs-list.d-md-flex
					- var procsList = [{'title': 'Заявка', 'descr': 'Вы оставляете заявку'}, {'title': 'Звонок', 'descr': 'Мы перезваниваем вам, составляем предварительное коммерческое предложение'}, {'title': 'Выезд', 'descr': 'Выезжаем к вам на объект для знакомства и корректировки коммерческого предложения, а также производим расчет за монтаж ЛВС'}, {'title': 'Договор', 'descr': 'Заключаем договор, выставляем счет за оборудование и услуги по внедрению. После оплаты счета, мы подготавливаем и тестируем ваше оборудование'}, {'title': 'Доставка', 'descr': 'Доставляем оборудование и производим внедрение, монтаж ЛВС'}, {'title': 'Обучение', 'descr': 'Производим обучение персонала по работе с системой iiko'}, {'title': 'Подарок', 'descr': 'Дарим 2 месяца бесплатного обслуживания'}], n = 0;
					each procsItem in procsList
						- n++;
						dl(class='procs-list-item _'+ n)
							dt.procs-list-item-title!= procsItem.title
							dd.procs-list-item-descr!= procsItem.descr

	.widget._dark._important
		.container-inner.container
			.callback-form
				form
					h2.callback-form-title Заказать интеграцию
					p.callback-form-info Мы с удовольствием проконсультируем вас персонально по телефону или через электронную почту
					.callback-form-control-group.form-group
						input.form-control(type='tel', placeholder='Введите контактный телефон')
					.callback-form-control-group.form-group
						input.form-control(type='email', placeholder='Введите контактный e-mail')
					.callback-form-control-group.form-group
						input.form-control(type='text', placeholder='Комментарий и пожелания')
					.callback-form-control-group.form-group
						input(type='file')
					.form-group
						.form-submit
							input.btn-secondary.btn(type='submit', value='Отправить')
					.form-group
						.form-note
							| Отправляя свои данные через эту форму, вы соглашаетесь с 
							a(href='/') политикой обработки персональных данных

	.container-inner.container
		.widget
			h2.widget-title._big Интересные модули для данного бизнеса
			p Мы продаем систему iiko это комплексное решение по управлению предприятием для общепита. Система состоит из множества модулей. Данные модули будут расположены в магазине. Для каждого решения можно предлагать различные допы в виде модулей, надо на страничке разместить самые популярные. Пример того как это можно реализовать
