nav.header-nav.navbar.navbar-dark.navbar-expand-lg
	.container
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon

		.collapse.navbar-collapse.justify-content-between#navbarSupportedContent
			ul.header-nav-list.navbar-nav
				li.nav-item
					a.nav-link(href='/') О нас
				li.nav-item.menu-item-has-children
					a.nav-link(href='/') Решения
					ul
						li.nav-item
							a.nav-link(href='/') Решение 1
						li.nav-item
							a.nav-link(href='/') Решение 2
				li.nav-item.menu-item-has-children
					a.nav-link(href='/') Услуги
					ul
						li.nav-item
							a.nav-link(href='/') Услуга 1
						li.nav-item
							a.nav-link(href='/') Услуга 2
				li.nav-item.menu-item-has-children
					a.nav-link(href='/') Магазин
					ul
						li.nav-item
							a.nav-link(href='/') Услуга 1
						li.nav-item
							a.nav-link(href='/') Услуга 2
				li.nav-item
					a.nav-link(href='/') База знаний
				li.nav-item
					a.nav-link(href='/') Почему IIKO
				li.nav-item
					a.nav-link(href='/') Контакты

			form.form-inline
				button.btn.btn-ico(type='button')
					include ./i/search.svg