header.header
	.container
		.header-container
			.d-flex.flex-wrap.flex-md-nowrap.align-items-center.justify-content-around
				include _logo.pug

				include _callback.pug

				include _phone.pug

				include _socials.pug

				include _cart.pug

		include _nav.pug
