//
// Image Directory
//

$img-dir: '../i/';


//
// Fonts Variables
//

$font-dir:	 '../fonts/';

$font-main:  'OpenSans';

$fonts:	(
	( $font-main, 'regular', normal, 400, 20190904 ),
	( $font-main, 'italic',  italic, 400, 20190904 ),
	( $font-main, 'bold',    normal, 700, 20190904 ),
);

//
// Icons
//

$icons: (mail, tel, mark);